<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>ListTuDu - Task/delete</title>
    <link href="C:\Users\doku\java\ListTuDu\src\main\resources\static\css\general.css" rel="stylesheet"
          type="text/css"/>
    <link href="C:\Users\doku\java\ListTuDu\src\main\resources\static\css\user.css" rel="stylesheet"
          type="text/css"/>
    <link href="C:\Users\doku\java\ListTuDu\src\main\resources\static\css\task.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div id="container">
    <div class="rectangle">
        Welcome on ListTuDu!
    </div>
    <div class="square1400px">
        <div th:replace="fragment/general.html :: div.loginInfo"></div>
    </div>
    <div class="square200px">
        <div th:replace="fragment/general.html :: div.tileWelcome"></div>
        <div th:replace="fragment/general.html :: div.tileTaskAll"></div>
        <div th:replace="fragment/general.html :: div.tileUser"></div>
        <div th:replace="fragment/general.html :: div.tileLogOut"></div>
    </div>

    <span class="square1200px">
        <form th:action="@{/task/edit/}+${TaskId}" th:object="${task}" method="post">
            <div class="square200pxRight"></div>
            <div class="square1000px">edit task:</div>
            <div style="clear: both"></div>

            <div class="square200pxRight">Id:</div>
            <div class="square1000px">
                <span th:text="${TaskId}"></span>
                <input type="hidden" name="id" th:value="${taskBeforeEdit.id}"/>
            </div>
            <div style="clear: both"></div>

            <div class="square200pxRight">name:</div>
            <div class="square1000px">
                <span th:text="${taskBeforeEdit.name}"></span>
                <input type="hidden" name="name" th:value="${taskBeforeEdit.name}"/>
            </div>
            <div style="clear: both"></div>

            <div class="square200pxRight">status:</div>
            <div class="square1000px">
                <span th:text="${taskBeforeEdit.status.status}"></span>
                <input type="hidden" name="status" th:value="${taskBeforeEdit.status}"/>
            </div>
            <div style="clear: both"></div>

            <div class="square200pxRightEditTask">deadline:</div>
            <div class="square1000px" >
                <input type="text" name="dateDeadLine" th:value="${taskBeforeEdit.dateDeadLine}" placeholder="format: yyyy-MM-dd">
            </div>
<!--            <div class="square1000px" th:switch="${TaskEdit.overdueDeadLineColor(TaskEdit.dateDeadLine)}">-->
<!--                <span th:case="'Red'" class="redHolder" th:text="${TaskEdit.dateDeadLine}"></span>-->
<!--                <span th:case="'Green'" class="greenHolder" th:text="${TaskEdit.dateDeadLine}"></span>-->
<!--                <span th:case="'Black'" class="blueHolder" th:text="${TaskEdit.dateDeadLine}"></span>-->
<!--                <span th:case="'????-??-??'" class="grayHolder">????-??-??</span>-->

<!--&lt;!&ndash;                <input type="hidden" name="dateDeadLine" th:value="${TaskEdit.dateDeadLine}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" th:field="*{name}"/>&ndash;&gt;-->
<!--            </div>-->
            <div style="clear: both"></div>

            <div class="square200pxRight">created by:</div>
            <div class="square1000px">
                <span th:text="${taskBeforeEdit.createdBy}"></span>
                <input type="hidden" name="createdBy" th:value="${taskBeforeEdit.createdBy}"/>
            </div>
            <div style="clear: both"></div>

            <div class="square600px">
                    <button type="submit" class="inputButton">Update Task!</button>
            </div>
        </form>
        <div class="square600px">
            <form th:action="@{/task/list}" method="get">
                <button type="submit" class="inputButton">Maybe later!</button>
            </form>
        </div>
        <div style="clear: both"></div>
</div>
<div style="clear: both"></div>
<div th:replace="fragment/general.html :: div.footer"></div>
</div>
</body>
</html>