<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ListTuDu - Task/list</title>
</head>
<body>
<h1>Hello!</h1>
<h2 th:text="'Tutaj jest/będzie ' + ${TaskPage}" />
    <p>Click <a th:href="@{/home}">here</a> to see a home page.</p>
    <p>Click <a th:href="@{/user}">here</a> to see a user info.</p>
    <br>
    <p>Tasks actions:</p>
    <p>Click <a th:href="@{/task/list}">here</a> to show tasks list.</p>
    <p>Click <a th:href="@{/task/add}">here</a> to add task.</p>
    <br>
    <p th:if="${TaskNew == 'yes'}">New task was created correctly!!!</p>
    <p th:if="${TaskNew == 'no'}"></p>
    <p>Tasks list below:</p>
    <table>
        <tr>
            <td> Id: </td>
            <td> Task name: </td>
        </tr>
        <tr data-th-each="task : ${TaskList}">
            <td data-th-text="${task.id}+'.'"></td>
            <td data-th-text="${task.name}"></td>
        </tr>
    </table>
</body>
</html>