<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ListTuDu - Task/list</title>
</head>
<body>
<h1>Hello!</h1>
<h2>Tutaj jest info o Task-ach!</h2>
    <p>Click <a th:href="@{/home}">here</a> to see a home page.</p>
    <p>Click <a th:href="@{/user}">here</a> to see a user info.</p>
    <br>
    <p>Tasks actions:</p>
    <p>Click <a th:href="@{/task/list}">here</a> to show tasks list.</p>
    <p>Click <a th:href="@{/task/add}">here</a> to add task.</p>
    <br>
    <p>Tasks list below:</p>
    <table>
        <tr>
            <td> Id: </td>
            <td> Delete: </td>
            <td> Task name: </td>
            <td> Status: </td>
            <td> Dead line: </td>
        </tr>
        <tr data-th-each="task : ${TaskList}">
            <td data-th-text="${task.id}+'.'"></td>
            <td><a th:href="@{/task}+'/delete/'+${task.id}"><img src="../icons/icon_bin2.jpg" width="26" align="middle"/></a></td>
            <td data-th-text="${task.name}"></td>
            <td data-th-text="${task.status.status}"></td>
            <td th:text="${task.dateDeadLine} ? ${task.dateDeadLine} : 'No DeadLine info!!'"></td>
        </tr>
    </table>
</body>
</html>
