<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ListTuDu - Task/list</title>
    <link rel="stylesheet" type="text/css" href="/css/task.css">
</head>
<body align="center">
<h1>Hello!</h1>
<h3>Tutaj jest info o Task-ach!</h3>
<br>
<p>Click <a th:href="@{/welcome}">here</a> to see a welcome page.</p>
<p>Click <a th:href="@{/user}">here</a> to see a user info.</p>
<br>
<p>Tasks actions:</p>
<p>Click <a th:href="@{/task/list}">here</a> to show tasks list.</p>
<p>Click <a th:href="@{/task/taskAdd}">here</a> to add task.</p>
<br>
<p>Tasks list below:</p>
<table>
    <tr>
        <th> Id:</th>
        <th> Delete:</th>
        <th> Task name:</th>
        <th> Status:</th>
        <th> Deadline:</th>
    </tr>
    <tr data-th-each="task : ${TaskList}">
        <td data-th-text="${task.id}+'.'"></td>
        <td>
            <a th:href="@{/task}+'/delete/'+${task.id}">
                <img src="../icons/icon_bin2.jpg" width="26" align="middle"/></a>
        </td>
        <td data-th-text="${task.name}"></td>
        <td data-th-text="${task.status.status}"></td>

        <td th:switch="${task.overdueDeadLineColor(task.dateDeadLine)}">
            <div th:case="'Red'" class="redHolder" th:text="${task.dateDeadLine}"></div>
            <div th:case="'Green'" class="greenHolder" th:text="${task.dateDeadLine}"></div>
            <div th:case="'Black'" class="blueHolder" th:text="${task.dateDeadLine}"></div>
            <div th:case="'????-??-??'" class="grayHolder">????-??-??</div>
        </td>
    </tr>
</table>
</body>
</html>
