<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>ListTuDu - Task/add</title>
    <link rel="stylesheet" type="text/css" href="/css/task.css">
</head>
<body>
<div align="center" th:replace="fragment/general.html :: div.userWelcome"></div>
<br>
<div align="center" th:replace="fragment/general.html :: div.userLogged"></div>
<br>
<div align="center">
    <h3>Tutaj jest info o Task-ach!</h3>
    <p>Create task:</p>
</div>
<form th:action="@{/task/taskAdd}" th:object="${task}" method="post">
    <table align="center">
        <tr>
            <td>New Task Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Dead line:</td>
            <td><input type="text" th:field="*{dateDeadLine}" placeholder="format: yyyy-MM-dd"/></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select name="status">
                    <option th:value="NotStarted" th:text="NotStarted"></option>
                    <option th:value="InProgress" th:text="InProgress"></option>
                    <option th:value="Completed" th:text="Completed"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Create Task!</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>