<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ListTuDu - Task</title>
</head>
<body align="center">
<h1>Hello!</h1>
<h3>Tutaj jest info o Task-ach!</h3>
<br>
<p>Click <a th:href="@{/welcome}">here</a> to see a welcome page.</p>
<p>Click <a th:href="@{/user}">here</a> to see a user info.</p>
<br>
<p>Tasks actions:</p>
<p>Click <a th:href="@{/task/list}">here</a> to show tasks list.</p>
<p>Click <a th:href="@{/task/taskAdd}">here</a> to add task.</p>
</body>
</html>