<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>ListTuDu - User/Change Pass</title>
    <link href="C:\Users\doku\java\ListTuDu\src\main\resources\static\css\general.css" rel="stylesheet"
          type="text/css"/>
    <link href="C:\Users\doku\java\ListTuDu\src\main\resources\static\css\user.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div id="container">
    <div class="rectangle">
        Welcome on ListTuDu!
    </div>
    <div class="square1400px">
        <div th:replace="fragment/general.html :: div.loginInfo"></div>
    </div>
    <div class="square200px">
        <div th:replace="fragment/general.html :: div.tileWelcome"></div>
        <div th:replace="fragment/general.html :: div.tileTask"></div>
        <div th:replace="fragment/general.html :: div.tileUserAll"></div>
        <div th:replace="fragment/general.html :: div.tileLogOut"></div>
    </div>
    <div class="square1200px">
        <form method="post" th:action="@{/user/userChangePass}">
            <div class="square1200px">Old Pass:</div>
            <div class="square1200px"><input type="password" name="oldPass" placeholder="type here ..." maxlength="64"
                                             size="16"/></div>
            <div class="square1200px"><label th:text="${userOldPasswordError}"></label></div>
            <div class="square1200px">New Pass:</div>
            <div class="square1200px"><input type="password" name="newPass" placeholder="and here ..." maxlength="64"
                                             size="16"/></div>
            <div class="square1200px"><label th:text="${userNewPasswordError}"></label></div>
            <div class="square1200px">Repeat New Pass:</div>
            <div class="square1200px"><input type="password" name="repeatNewPass" placeholder="and also here ..."
                                             maxlength="64"
                                             size="16"/></div>
            <div class="square1200px"><label th:text="${userPasswordRepeatError}"></label></div>
            <button type="submit" align="center" class="inputButton">Change Pass!</button>
        </form>
    </div>
    <div style="clear: both"></div>
    <div th:replace="fragment/general.html :: div.footer"></div>
</div>
</body>
</html>
