<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ListTuDu - User/add</title>
</head>
<body align="center">
<h1>Hello!</h1>
<br>
<p>Click <a th:href="@{/welcome}">here</a> to see a welcome page.</p>
<p>Click <a th:href="@{/user}">here</a> to see a user info.</p>
<p>Click <a th:href="@{/task}">here</a> to see a tasks list.</p>
<p>Add user:</p>
<form th:action="@{/user/userAdd}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>User Name (email only):</td>
            <td><input type="text" th:field="*{email}" value="example@example.com"/></td>
        </tr>
        <tr>
            <td>Pass:</td>
            <td><input type="password" th:field="*{pass}" value="example"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Create User!</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>