<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ListTuDu - User</title>
</head>
<body align="center">
    <h1>Hello User-ze!</h1>
    <h3 th:text="'Tutaj jest/będzie ' + ${UserPage}" />
    <br>
    <p>Click <a th:href="@{/welcome}">here</a> to see a welcome page.</p>
    <p>Click <a th:href="@{/task}">here</a> to see a tasks list.</p>
    <br>
    <p>Click here to edit user.</p>
    <p>Click here to see user's tasks.</p>
    <p>Click here to delete user.</p>
</body>
</html>