<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>ListTuDu - User</title>
</head>
<body align="center">
    <div th:replace="fragment/general.html :: div.userWelcome"></div>
    <br>
    <div th:replace="fragment/general.html :: div.userLogged"></div>
    <br>
    <p>User actions:</p>
    <p>Click here to edit user.</p>
    <p>Click here to see user's tasks.</p>
    <p>Click here to delete user.</p>
</body>
</html>