<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>ListTuDu - User</title>
    <link href="C:\Users\doku\java\ListTuDu\src\main\resources\static\css\general.css" rel="stylesheet"
          type="text/css"/>
    <link href="C:\Users\doku\java\ListTuDu\src\main\resources\static\css\user.css" rel="stylesheet"
          type="text/css"/>
    <link href="C:\Users\doku\java\ListTuDu\src\main\resources\static\css\task.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div id="container">
    <div class="rectangle">
        Welcome on ListTuDu!
    </div>
    <div class="square1400px">
        <div th:replace="fragment/general.html :: div.loginInfo"></div>
    </div>
    <div class="square200px">
        <div th:replace="fragment/general.html :: div.tileWelcome"></div>
        <div th:replace="fragment/general.html :: div.tileTask"></div>
        <div th:replace="fragment/general.html :: div.tileUserAll"></div>
        <div th:replace="fragment/general.html :: div.tileLogOut"></div>
    </div>
    <div class="square1200px">
        Welcome on User page!
    </div>
    <div style="clear: both"></div>
    <div th:replace="fragment/general.html :: div.footer"></div>
</div>
</body>
</html>