

table {
  border: 1px solid black;
}

.blueHolder {
    color:blue;
}
.grayHolder {
    color:grey;
}
.greenHolder {
    color:green;
}
.redHolder {
    color:red;
}

#grayHolder {
    color:grey;
}
#greenHolder {
    color:green;
}
#redHolder {
    color:red;
}