
.tileTaskAddTask
{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #777777;
    margin: 20px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 20px;
}
.tileTaskAddTask:hover
{
    background-color: #666666;
}

.tileTaskList
{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #777777;
    margin: 20px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 20px;
}
.tileTaskList:hover
{
    background-color: #666666;
}

.tileTaskDelete
{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #777777;
    margin: 20px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 20px;
}
.tileTaskList:hover
{
    background-color: #666666;
}

.taskLineHead
{
    width: 1200px;
    height: 50px;
    float: left;
    align: center;
    font-color: black;
    color: #111111;
    text-decoration: none;
    display: block;
}
.taskLine
{
    width: 1150px;
    height: 100px;
    float: left;
    align: center;
    font-color: black;
    color: #111111;
    text-decoration: none;
    display: block;
}
.taskLine:visited
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-color: black;
}
.taskLine:hover
{
    background-color: #888888;
}

.taskCreatedBy
{
    width: 200px;
    float: left;
    text-align: center;
}
.taskDeadline
{
    width: 170px;
    float: left;
    text-align: center;
}
.taskStatus
{
    width: 150px;
    float: left;
    text-align: center;
}
.taskName
{
    width: 600px;
    float: left;
    text-align: center;
}
.taskDeleteHead
{
    width: 50px;
    height: 500px;
    float: left;
    text-align: center;
    font-color: black;
    color: #111111;
    display: block;
    text-decoration: none;
}
.taskDelete
{
    width: 50px;
    height: 100px;
    float: left;
    align: center;
    text-align: center;
    font-color: black;
    color: #111111;
    display: block;
    text-decoration: none;
}
.taskDelete:hover
{
    background-color: red;
    font-color: white;
}
.taskDelete:visited
{
    color: #111111;
    text-decoration: none;
    display: block;
    font-color: black;
}


.taskID
{
    width: 30px;
    float: left;
    text-align: center;
}



table {
    width: 100%;
}

.blueHolder {
    text-align: center;
    color:blue;
}
.grayHolder {
    text-align: center;
    color:grey;
}
.greenHolder {
    text-align: center;
    color:green;
}
.redHolder {
    text-align: center;
    color:red;
}
/*
#grayHolder {
    color:grey;
}
#greenHolder {
    color:green;
}
#redHolder {
    color:red;
}
*/