<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>ListTuDu - Home</title>
</head>
<body align="center">
<div th:replace="fragment/general.html :: div.userWelcome"></div>
<h3 th:text="${HomePage}"/>
<br>
<p>Click <a th:href="@{/login}">here</a> to see a login page.</p>
<p>Click <a th:href="@{/registration}">here</a> to see a registration page.</p>
</body>
</html>