<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>ListTuDu - Registration</title>
    <link rel="stylesheet" type="text/css" href="css/registration.css">
</head>
<body align="center">
<div th:replace="fragment/general.html :: div.userWelcome"></div>

<form action="#" th:action="@{/registration}" method="post" align="center">
    Login:<br>
    <input type="text" name="email" placeholder="Email"/><br>
    <label class="registrationPage" th:text="${registrationLoginError} ? ${registrationLoginError}"></label><br>
    <br>
    Password:<br>
    <input type="password" name="pass" placeholder="Password"/><br>
    <label class="registrationPage" th:text="${registrationPasswordError} ? ${registrationPasswordError}"></label><br>
    <br>
    Repeat Password:<br>
    <input type="password" name="repeatPass" placeholder="Repeat Password"/> <br>
    <label class="registrationPage" th:text="${registrationPasswordRepeatError} ? ${registrationPasswordRepeatError}"></label><br>
    <br>
    <button type="submit">Register Me</button>
</form>

<p >or <a th:href="@{/login}">login</a> yourself.</p>
<p >Click <a th:href="@{/home}">here</a> to back a home page.</p>
</body>
</html>